:root {
  --btnColor: rgb(219, 56, 56);
  --textH1: #333333;
  --textH2: #141313;
  --backgroundMain: #e7e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 3rem;
  background-color: var(--backgroundMain);
}
h1{
  color: var(--textH1);
}
h2 {
  color: var(--textH1);
}
